

.skin-blue .main-header .navbar {
  background-color: black;
  height: 50px;
}

.skin-blue .main-header .logo {
  background-color: black;
  color: white;
  font-family: Verdana,Arial,sans-serif;
  font-weight: bold;
}

.skin-blue .main-header .logo:hover {
  background-color: #878787;
}

.skin_blue .main-header .dropdown {
  font-family: "Lucida Console";
  font-weight: bold;
  padding-top:0;
  padding-bottom:0;
}

.skin-blue .main-header .dropdown:hover {
  background-color: #878787;
}

.sidebar-toggle:hover {
  background-color: #878787 !important;
}

#sidebar {
  background-color: #dec4de;
  }

.skin-blue .sidebar {
  background-color: white;
  color: black;
}




.skin-blue .main-sidebar .sidebar .sidebar-menu a {
  background-color: white;
  color: black;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  color: #878787;
}
  
.modal-lg{
  width: 1440px;
  max-height: 75%;
}





